# hap-soc-collector 환경변수
# AWS 리전 및 계정
AWS_REGION=ap-northeast-2
AWS_ACCOUNT_ID=893961164525

# 로그 소스 S3 버킷
CLOUDTRAIL_BUCKET=hap-soc-log-s3
CLOUDTRAIL_PREFIX=cloudtrail/AWSLogs/893961164525/CloudTrail/ap-northeast-2/
ALB_LOG_BUCKET=hap-soc-alb-log-s3
ALB_LOG_PREFIX=prod-alb/AWSLogs/893961164525/elasticloadbalancing/ap-northeast-2/
FLOW_LOG_BUCKET=hap-soc-log-s3
FLOW_LOG_PREFIX=flowlogs/
ONPREM_LOG_PREFIX=onprem/

# Graph 서버 (상범님)
GRAPH_ENGINE_BASE_URL=http://hap-soc-graph.internal:8000